[Unit]
Description=RTSP looped file server

[Service]
Type=simple
#Restart=always
WorkingDirectory=PATH
ExecStart=PATH/rtsp-simple-server loop-server.yml

[Install]
WantedBy=multi-user.target
